# LangChain e LLM
langchain>=0.1.0
llama-cpp-python>=0.1.50   # Connects directly to the local Llama3.
transformers>=4.35.0       # Optional, for additional pipelines or embeddings.
torch>=2.1.0               # backend if the LLM needs PyTorch
langchain-ollama>=0.3.1
langchain-core

# Web/API
fastapi>=0.105.0
uvicorn[standard]>=0.23.0
requests>=2.32.0

# Validação de schemas
pydantic>=2.3.0

# Logging / utilitários
rich>=13.5.2
python-dotenv>=1.0.0
tqdm>=4.66.0

# Desenvolvimento / testes
pytest>=8.4.2
black>=23.12.0